.links{
    display: flex;
    flex-direction: row;
    padding: 8px;
    background-color: #111;
    margin-top :4px;
    border-radius: 5px;
}

.links p{
    padding: 15px;
    border-radius: 10px;
}

.links p a{
    text-decoration: none;
    color:#fff;
    border-radius: 7px;
    padding-left: 5px;
}

.links p a:hover{
    color:aqua
}